{% extends "base.html" %} {% block title %}Download Trio-IrcProxy{% endblock %}
{% block h1 %}Download{% endblock h1 %}
{% block content %}
<p>Trio-IrcProxy is in a pre-alpha state, meaning the first version has not been released yet.
However, you may download Trio-IrcProxy, this web-server and web-site, Machine Gun mSL script
for mIRC and Adiirc irc-clients from the github repository linked below.
</p>
<p>You may send feature requests and communicate through the <a href="https://github.com/ashburry-chat-irc/trio-ircproxy/issues">Issues</a> github page.</p>
<p>Visit the <a href="https://github.com/ashburry-chat-irc/trio-ircproxy/">Github code repository</a> for an early download. Click the <i>code</i> button
and select download as <b>zip</b>.  If you would like to complete the code yourself fork the current repo to your own repo and continue where I left off.</p>
{% endblock %}