{% extends 'base.html' %}
{% block title %}BNC vhost service overview{% endblock title %}
{% block h1 %}Your Proxy and Vhost BNCz{% endblock h1 %}
{% block content %}
<p>
So far the services to host a proxy server and a web-server have cost me $17 and all I have is a naked domain http://mslscript.com ; for $12 a year. My friend
pays $5 a month for a little respect from <a href="https://www.pythonanywhere.com" target="_new">pythonanywhere.com</a> and they host my web-server.
now i am thinking about getting a Python trainer to help me get this proxy server running. i think i have got some hosting on lock with a VPS for $12.50
a month from <a href="https://www.vultr.com/?ref=9433621" target="_new">https://www.vultr.com/</a> it looks like i have got more money to spend
we'll see what else i must pay for; such as a dozen IPv4 addresses and some IPv6 addresses with sub-domain at ircproxy.xyz and mslscript.com.
</p>
<p>
you will not have a choice as to which hostname you get to use, it will probably just rotate through a list so it is even or users get to select out of a sub-list
of domain names
you may email me at <a href="mailto:ashburry_underNET@outlook.com">ashburry_underNET@outlook.com</a> about good sub-domain names you would like to see
(or contact me on IRC).
</p>
{% endblock %}