{% extends 'base.html' %}
{% block title %}XDCC search, proxy server, mIRC Adiirc mSL script, Python IRC
{% endblock title %}{% block h1 %}Trio-IrcProxy.Py User-Account Home{% endblock h1 %}{% block content %}
<hr />
<p><a href="https://www.youtube.com/watch?v=YgBKBvwbKSk" target="malign20">Fuck them all I'll be Outlaw'd</a></p>
<p><a href="https://www.youtube.com/watch?v=UePtoxDhJSw target="peters">Peters - Black and Yellow</a></p>
<p title="downloading with Internet Relay Chat client"><h5 class="oneline"><span class="ooo">o &nbsp;</span>
    <a href="/search/xdcc.html">XDCC search</a></h5> - download movies, television, applications, games, ebooks,
audio, anime. View your XDCC Search bot status and options.</p>
<p title="listing of vhost/proxy servers network"><h5 class="oneline"><span class="ooo">o &nbsp;</span>
    <a href="/irc/proxies.html">Proxy Servers Hostnames</a></h5> - view the selection of hostnames (or IP addresses) to use for your proxy account.</p>
<hr />
<p title="Administrator Functions"><h5 class="oneline"><span class="ooo">o &nbsp;</span>
    <a href="/admin/admin-settings.html">Admin Stage</a></h5> - administration settings, user access change, web-server
to proxy-server networking.</p>
<p title="log-in to this website and use the web-server as an stage for advanced script usage"><h5 class="oneline">
    <span class="ooo">o &nbsp;</span><a href="/admin/bnc-settings.html">Proxy-Server Scripts</a></h5> - turn scripts on/off,
    apply settings changes, assists mIRC/Adiirc script.</p>
<hr />
<p title="trio-ircproxy.py assistive web-server"><h6 class="oneline">
    <span class="ooo">o &nbsp;</span><a href="/index.html">home</a></h6> - you are here now.</p>
<p title="Trio-ircproxy.py and website hosting"><h6 class="oneline">
    <span class="ooo">o &nbsp;</span><a href="/hosted.html">hosted</a></h6> - a glance at where our python apps are hosted.</p>
<hr />
<p title="the code of conduct for anyone using or supplying this application">
<h6 class="oneline"><span class="ooo">o &nbsp;</span><a href="/coc/code_of_conduct.html">Code of Conduct</a></h6> - i require
that you behave as outlined in the code-of-conduct while using this web-server and applications available here.</p>
<p title="the copyright notice, which you must include when re-distributing the software.">
<h6 class="oneline"><span class="ooo">o &nbsp;</span><a href="/zero-bsd.html">Copyright Licence</a></h6> - copyright
notice for all content, including this web-server, and applications available here.</p>
<p title="the contributing.md file which states who and how to contribute to the Trio-ircproxy projects.">
<h6 class="oneline"><span class="ooo">o &nbsp;</span><a href="/contributing.html">Contributing.md</a></h6> - if you want
to learn who has contributed or how you may contribute to the Trio-ircproxy projects.</p>
<p title="the security.md file which states how to report a vulnerability in the Trio-ircproxy application projects.">
<h6 class="oneline"><span class="ooo">o &nbsp;</span><a href="/security.html">Security Policy.md</a></h6> - learn how to
report security vulnerabilities in the Trio-ircproxy & mg-script projects.</p>
<hr />
<p title="Machine Gun mSL script named Bauderr">
<h5 class="oneline"><span class="ooo">o &nbsp;</span><a href="https://www.mslscript.com/download/">Download MG mSL
    script </a></h5> - Not ready for download, currently runs on anything running Python Interpreter 10+. Requires an account on this site.</p>

<p title="email the author">contact the author, by email, at
    <a href="mailto:Ashburry_UnderNet@outlook.com">Ashburry_UnderNet@outlook.com</a> - for any concerns and questions
    regarding the Python apps, mSL script, documentation, web-server, irc channel and its guests and administrators --
    and if you would like to help with the project and its <a href="irc://irc.undernet.org:6667/5ioE/">irc channel
        (Undernet \ #5ioE)</a>.</p>
{% endblock content %}
